*,
html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/* 
.food {
  font-size: 5rem;
}

#btn {
  font-size: 7rem;
  border-radius: 1rem;
  box-shadow: ;
}

.container {
  background-color: aquamarine;
}

.text{
    font-size: 1rem;
} */

#container-box{
    background-color: teal;
    display: flex;
    font-size: 5rem;
    color: cornsilk;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    padding: 5rem ;

}
#container-box2{
    background-color: blue ;
    display: flex;
    font-size: 5rem;
    color: cornsilk;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    padding: 5rem ;

}
#container-box3{
    background-color: blueviolet;
    display: flex;
    font-size: 5rem;
    color: cornsilk;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    padding: 5rem ;
}
#submit{
  font-size: 10rem;
  display: flex;
  align-items: center;
}
