*,
html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/* 
.food {
  font-size: 5rem;
}

#btn {
  font-size: 7rem;
  border-radius: 1rem;
  box-shadow: ;
}

.container {
  background-color: aquamarine;
}

.text{
    font-size: 1rem;
} */

#container-box{
    background-color: black;
    font-size: 5rem;
    color: cornsilk;
    text-align: center;
}

.cat-poster{
    width: 10rem;
}